/* Reset CSS */

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------------------------------------- VARIABLES ------------------------------------- */

:root {
  --primary-color: rgb(201, 190, 177);
  --secondary-color: rgb(94, 94, 218);
  --bg-color: #0c0c0cc1;
  --primary-font: 'Monserrat', sans-serif;
  --secondary-font: 'Lora', sans-serif;
  --third-font: 'Anaheim', sans-serif;
}

/* ----------------------------------- COMMON PROPERTIES ------------------------------ */

.coloredText {
  color: var(--secondary-color)!important;
}

.font1 {
  font-family: var(--primary-font)!important;
}

.font2 {
  font-family: var(--secondary-font)!important;
}

.font3 {
  font-family: var(--third-font)!important;
}

/* -------------------------------- Section Home --------------------------------------- */

#firstRowHomePage {
  min-height: 100vh;
  background-image: url(images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary-color);
}

#text-presentation{
  background-color: var(--bg-color);
}

.text-welcome{
opacity: 1;
font-size: 25px;
}

.big-text {
  font-size: 50px;
  font-weight: bold;
}

.big-text .firstLetter{
  font-size: 55px;
  color: var(--secondary-color);
}

.description {
  max-width: 550px;
  margin: 15px auto;
  font-size: 18px;
}

.btn{
  margin-top: 30px;
  padding: 15px 32px;
  font-size: 14px;
  transition: all 0.5s;
  letter-spacing: 0.6px;
  color: var(--primary-color);
  box-shadow: none !important;
  text-transform: uppercase;
  outline: none !important;
  border-radius: 30px;
  border: 2px solid var(--primary-color);
}

.btn-outline-info:hover{
  background-color: var(--secondary-color)!important;
  border: var(--secondary-color);
  color: var(--primary-color);
}


#mouseBtn i{
  font-size: 40px;
  position: absolute;
  bottom: 20px;
  transition: 0.5s;
  cursor: pointer;
}

/* ------------------------------------ Section About ------------------------------------ */

.about{
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--primary-color);
  width: 100vw;
}

.img-thumbnail{
  width: 80%;
  height: auto;
  border: 2px solid var(--secondary-color);
  padding: 0.5 rem;
  border-radius: 0.5rem;
}

.quote {
  color: var(--secondary-color);
}

/* ------------------------------------ Section Events ------------------------------------ */

.carousel-indicators button{
  background-color: var(--secondary-color)!important;
}

.carousel-inner {
  justify-content: center;
  align-items: center;
}

.carousel-inner img{
  width: 100vw;
  border-radius: 30px;
}

.events-description {
  text-align: center;
}

.events-description h3{
  color: var(--secondary-color);
}

.events-list-item{
  list-style: none;
  font-size: 1.5em;
}

/* ------------------------------------- FOOTER --------------------------------------- */

footer
{
    height: 120px;
    background-color: black;
    color: gray;
    width: 100vw;
    text-align: center;
    bottom: 0;
}
  
footer.social p, footer.mail p
{
  font-size: 1.2em;
}
  
footer .icons a
{
  color: gray;
  font-size: 1.5em;
}

footer p{
  font-size: 0.7em;
  padding-top: 10px;
}

/* ------------------------------------ EVENTS PAGE ------------------------------------ */

.events-page
{
  margin-top: 45px;
  padding-top: 30px;
  text-align: center;
  min-height: 89vh;
  background-color: rgb(90, 81, 81);
}

.events-page h1
{
  text-transform: uppercase;
}

  /*------------------------------------ RESPONSIVE -------------------------------------*/
  
  @media screen and (min-width: 700px)
  {
    footer
    {
      height: 150px;
    }
    footer p{
      font-size: 1.5em;
    }
  }

  @media screen and (min-width: 900px) 
  {
    .sm-reverse
    {
        flex-direction: row-reverse;
    }
  }