/* Reset CSS */

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ------------------------------------- VARIABLES ------------------------------------- */

:root {
  --primary-color: rgb(201, 190, 177);
  --secondary-color: rgb(94, 94, 218);
  --bg-color: #0c0c0cc1;
  --primary-font: 'Monserrat', sans-serif;
  --secondary-font: 'Lora', sans-serif;
  --third-font: 'Anaheim', sans-serif;
}

/* --------------------------------- Import fonts -------------------------------------- */

  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;1,200&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

/* ----------------------------------- COMMON PROPERTIES ------------------------------ */

.coloredText {
  color: var(--secondary-color)!important;
}

.font1 {
  font-family: var(--primary-font)!important;
  font-weight: bold;
  color: var(--secondary-color)!important;
}

.font2 {
  font-family: var(--secondary-font)!important;
}

.font3 {
  font-family: var(--third-font)!important;
}